<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-title>Dashboard</ion-title>
        <ion-buttons end>
            <button ion-button color="save" (click)="online = !online">
                <ion-icon *ngIf="online" name="checkmark-circle"></ion-icon>
                <ion-icon *ngIf="!online" color="danger" name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons start>
            <button ion-button color="save">
                <ion-icon name="contact"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <div *ngIf="online">
        <ion-card>
            <ion-card-header>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="https://www.kau.edu.sa/Files/0016617/Galleries/6608/51617_P1016195%20copy.jpg">
                    </ion-avatar>
                    <p>Admin</p>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <p>
                    Your help is needed here (active)
                </p>
                <agm-map [zoom]="18" [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
                <button ion-button (click)="navigate(lat, lng)">GO</button>
                <button ion-button>Decline</button>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="https://www.kau.edu.sa/Files/0016617/Galleries/6608/51617_P1016195%20copy.jpg">
                    </ion-avatar>
                    <p>Volunteer Care</p>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <ion-card-title>
                    Congratulations!
                </ion-card-title>
                <p>
                    You volunteered for 8 hours today!
                </p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="https://www.kau.edu.sa/Files/0016617/Galleries/6608/51617_P1016195%20copy.jpg">
                    </ion-avatar>
                    <p>Admin</p>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <p>
                    Your help is needed here (deactive)
                </p>
                <button ion-button disabled>GO</button>
                <button ion-button disabled>Decline</button>
            </ion-card-content>
        </ion-card>
    </div>
    <div *ngIf="!online">
        هنقققللللع يا ابوي
    </div>
</ion-content>