page-leaderboard {
    [first] {
        width: 30vw;
        position: absolute;
        top: 110px;
        background: transparent;
        left: 20px;
    }
    [second] {
        width: 30vw;
        position: absolute;
        top: 30px;
        background: transparent;
        left: 130px;
    }
    [third] {
        width: 30vw;
        position: absolute;
        top: 110px;
        background: transparent;
        left: 250px;
    }
}